@mixin container {
  @include positionCenter;
  width: 70%;
  height: 70vh;
  min-height: 550px;
  border-radius: 20px 20px 0 0 ;
  overflow: hidden;
  background-image: linear-gradient(to bottom, rgba($white, .85), rgba($white, .75) 5%, rgba($white, .4), transparent);
  cursor: auto;
  >.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    position: relative;
    padding-left: 50px;
    color: $textDark;
    @include font(2, 50px);
    >div {
      @include positionCenter(y);
      @include hoverImg(30px);
      width: 50px;
      height: 50px;
      left: 0;
    }
  }
  >.body {
    width: 100%;
    height: calc(100% - 50px);
  }
  @include media(479px){
    min-width: 320px;
    min-height: 500px;
    height: calc(100% - 65px);
    width: 100%;
    top: 65px;
    transform: translateX(-50%);
    background-image: linear-gradient(-30deg,rgba($primary, 1),rgba($third, 1));
    z-index: 10;
    >.header {
      height: 40px;
      @include font(1, 40px);
      background-color: rgba($white, .65);
      >div {
        width: 40px;
        height: 40px;
        img {
          width: 20px;
          height: 20px;
        }
      }
    }
    >.body {
      height: calc(100% - 40px);
    }
  }
}