@mixin baseBtn($width: auto, $height: auto, $radius: 30px) {
  @include btnReset;
  @include font;
  color: $white;
  width: $width;
  height: $height;
  min-height: 40px;
  background-color: $primary;
  border-radius: $radius;
  position: relative;
  padding: 5px 10px;
  z-index: 1;
  &::before,
  &::after {
    content: "";
    @include positionCenter;
    background-color: $primary;
    border-radius: $radius;
    z-index: -1;
  }
  &:hover {
    &::before,
    &::after {
      @if($radius == 50%){
        animation: animate_c 2s infinite;
      }@else {
        animation: animate 2s infinite;
      }
    }
    &::after {
      animation-delay: 1s;
    }
  }
  @keyframes animate {
    0% {
      width: 100%;
      height: 100%;
    }
    100% {
      width: 140%; 
      height: 150%;
      opacity: 0;
    }
  }
  @keyframes animate_c {
    0% {
      width: 100%;
      height: 100%;
    }
    100% {
      width: 150%; 
      height: 150%;
      opacity: 0;
    }
  }
  @include media(479px) {
    @include font(-0.875);
    min-height: 30px;
  }
}

@mixin switchBtn {
  background-color: $white;
  border-radius: 30px;
  display: inline-flex;
  >button {
    @include btnReset;
    @include font;
    color: $dark;
    padding: 5px 10px;
    min-height: 40px;
    position: relative;
    overflow: hidden;
    transition: color .3s;
    white-space: nowrap;
    &::before{
      content: '';
      width: 0;
      height: 100%;
      background-color: $primary;
      position: absolute;
      top: 0;
      z-index: -1;
      transition: width .3s;
    }
    &:nth-of-type(1){
      border-radius: 30px 0 0 30px;
      &::before{
        right: 0;
      }
    }
    &:nth-of-type(2){
      border-radius: 0 30px 30px 0;
      &::before{
        left: 0;
      }
    }
    &.active{
      color: $white;
      &::before{
        width: 100%;
      }
    }
  }
  @include media(479px){
    >button {
      @include font(-.875);
      min-height: 30px;
    }
  }
}
