@mixin hoverImg($size) {
  width: $size;
  height: $size;
  cursor: pointer;
  img{
    width: $size*.7;
    height: $size*.7;
    @include positionCenter;
    transition: opacity .3s;
    &:nth-of-type(2) {
      opacity: 0;
    }
  }
  &:hover {
    img{
      &:nth-of-type(1) {
        opacity: 0;
      }
      &:nth-of-type(2) {
        opacity: 1;
      }
    }
  }
}