@mixin buttonActive($isHamburger: false) {
  & {
    @if ($isHamburger) {
      width: 150px;
      height: 175px;
      @include media(479px) {
        width: 40px;
        height: 115px;
      }
      .navBtn_btn {
        transform: rotate(-90deg);
        span {
          box-shadow: 0px 5px 1px $white, 0px -5px 1px $white;
          &::before {
            width: 200vw;
            height: 200vw;
            opacity: 0;
            visibility: hidden;
            transition: all 0.7s;
            pointer-events: none;
            @include media(479px) {
              width: 200vh;
              height: 200vh;
            }
          }
        }
        >div::before {
          opacity: 1;
          transform: translate(-50%, -50%) scale(1.3);
        }
        >p {
          color: $primary;
        }
      }
    } @else {
      div::before {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1.3);
      }
      p {
        color: $primary;
      }
    }
  }
}
@mixin button($size: 60px, $isHamburger: false) {
  @include btnReset;
  font-family: "Montserrat", "Noto Sans TC", sans-serif;
  transition: transform 0.3s;
  @if ($size>=60px) {
    width: 150px;
  }
  @include media(479px) {
    width: 40px;
  }
  text-align: right;
  > .navBtn_btn {
    display: inline-block;
    text-decoration: none;
    position: relative;
    transition: transform 0.3s;
    > p {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      color: $white;
      text-shadow: 1px 1px 3px $shadow;
      @include font(1);
      transition: color 0.3s;
      @if ($isHamburger==false) {
        left: -90px;
      } @else {
        left: -75px;
        font-weight: 700;
      }
      @include media(479px) {
        @include font(0);
        @if ($isHamburger==false) {
          display: none;
        } @else {
          left: -65px;
        }
      }
    }
    > div {
      width: $size;
      height: $size;
      border-radius: 50%;
      border: 1px solid $primary;
      cursor: pointer;
      position: relative;
      @include media(479px) {
        @if ($size >= 60px) {
          width: 40px;
          height: 40px;
        } @else {
          width: 30px;
          height: 30px;
        }
      }
      @if ($isHamburger) {
        > span {
          display: block;
          width: 15px;
          height: 1px;
          background-color: $white;
          @include positionCenter;
          box-shadow: 0px 3px 1px $white, 0px -3px 1px $white;
          transition: box-shadow 0.3s;
          &::before {
            content: "";
            width: 0;
            height: 0;
            border-radius: 50%;
            background-color: $primary;
            @include positionCenter;
          }
        }
      } @else {
        > img {
          @include positionCenter;
        }
      }
      &::before {
        content: "";
        @include positionCenter;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        border: 1px solid #ddd;
        opacity: 0;
        transition: transform 0.3s;
      }
    }
  }
  &:hover {
    @include buttonActive;
  }
}