.slider-enter, .slider-leave-to{
  opacity: 0;
  transform: translateX(-10%);
}
.slider_reverse-enter, .slider_reverse-leave-to{
  opacity: 0;
  transform: translateX(10%);
}
.slider_xl-enter, .slider_xl-leave-to {
  opacity: 0;
  transform: translateX(100%);
}
.fade-enter, .fade-leave-to,
.flip-enter, .flip-leave-to{
  opacity: 0;
}
.flip-enter-active{
  position: absolute;
  transition: all .3s;
}
.slider-enter-active, .slider-leave-active,
.slider_reverse-enter, .slider_reverse-leave-to,
.slider_xl-enter-active, .slider_xl-leave-active,
.fade-enter-active, .fade-leave-active,
.flip-move{
  transition: all .3s;
}
.banner-enter-active, .banner_reverse-enter-active {
  @include positionCenter(y);
  transition: left .5s, height .5s .5s;
}
.banner-leave-active, .banner_reverse-leave-active {
  opacity: 0;
  transition: left .45s, opacity .45s .45s;
}
.banner-enter {
  height: 10px;
  left: 100%;
}
.banner-leave-to {
  left: -100%;
  transition-delay: .5s;
}
.banner_reverse-enter {
  height: 10px;
  left: -100%;
}
.banner_reverse-leave-to {
  left: 100%;
  transition-delay: .5s;
}
.slider_banner-enter{
  transform: translateX(100%);
}
.slider_banner-leave-to {
  transform: translateX(-100%);
}
.slider_banner_reverse-enter{
  transform: translateX(-100%);
}
.slider_banner_reverse-leave-to {
  transform: translateX(100%);
}
.slider_banner-enter-active, .slider_banner-leave-active,
.slider_banner_reverse-enter-active, .slider_banner_reverse-leave-active {
  transition: all .5s;
}
@include media(479px){
  .banner-enter-active, .banner_reverse-enter-active {
    top: auto;
    transform: translateY(0);
    transition: all .5s;
  }
  .banner-leave-active, .banner_reverse-leave-active {
    position: absolute;
    opacity: 1;
    transition: all .5s;
  }
  .banner-enter, .banner_reverse-enter {
    height: 100%;
  }
}