.slider-enter, .slider-leave-to{
  opacity: 0;
  transform: translateX(-10%);
}
.slider_xl-enter, .slider_xl-leave-to {
  opacity: 0;
  transform: translateX(100%);
}
.fade-enter, .fade-leave-to,
.flip-enter, .flip-leave-to{
  opacity: 0;
}
.flip-leave-active{
  position: absolute;
}
.slider-enter-active, .slider-leave-active,
.slider_xl-enter-active, .slider_xl-leave-active,
.fade-enter-active, .fade-leave-active,
.flip-move{
  transition: all .3s;
}