$primary: #81c7d4;
$secondary: #a6c1ee;
$third: #f8c3cd;
$fourth: #f9bf45;
$danger: #eb7a77;
$success: #86c166;
$white: #ffffff;
$dark: #777777;
$gray: #999999;
$textDark: #333333;
$shadow: rgba(#000000, .1);

$baseFont: 14px;
$baseLine: 10px;
$lineLevel: 1.2;
$fontLevel: 2px;




