$primary: #8acede;
$secondary: #a6c1ee;
$third: #FBC2EB;
$fourth:#F9BF45;
$danger: #EB7A77;
$success: #86C166;
$white: #ffffff;
$dark: #666666;
$gray: #999999;
$shadow: rgba(#000000, .1);

$baseFont: 14px;
$baseLine: 10px;
$lineLevel: 1.2;
$fontLevel: 2px;




